/* Default dark theme colors */
:root {
  --main-bg-color: #333333;
  --main-bg-color-trans: rgba(68,68,68,0.5);
	--accent-bg-color: #e3e3e3;
  --second-bg-color: #444444;
	--text-color: #e3e3e3;
	--hover-color: #b61c20;
	--link-hover-color: #6c7b80;
	--link-color: #00aae8;
}
/* ---- */
/* body */
/* ---- */
body {
	font-family: 'Lora', 'Times New Roman', serif;
	font-size: 20px;
  margin: 0px;
	color: var(--text-color);
	background-color: var(--main-bg-color);
  min-height: 100vh;
}

.outer-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

@media only screen and (max-height: 600px)  {
  .outer-center {
    display: initial;
    justify-content: initial;
    align-items: initial;
    height: initial;
  }
}

@media only screen and (max-width: 330px)  {
  .outer-center {
    display: initial;
    justify-content: initial;
    align-items: initial;
    height: initial;
  }
}

/* ------ */
/* navbar */
/* ------ */

.navbar-container {
	height: 50px;
	margin-top: 0px;
}
@media only screen and (max-width: 700px) {
  .navbar-container {
    margin-bottom: 10px;
  }
}

.navbar {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: var(--accent-bg-color);
  overflow: hidden;
}

.navbar.ng-scope {
  background-color: var(--main-bg-color);
  padding: 0px;
  padding-right: 0px;
  padding-left: 0px;
}

.navbar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	font-size: 15px;
  border-bottom: 1px solid var(--second-bg-color);
  background-color: var(--main-bg-color-trans);
}

.navbar ul li {
	float: right;
}

.navbar ul li a {
	display: block;
	color: var(--accent-bg-color);
	text-align: center;
	padding: 7px 20px;
	text-decoration: none;
}

#theme-toggle i:hover {
	color: gold;
	transition: 1s ease;
	cursor: pointer;
}

.navbar ul .about {
	float: left;
	background-image: none;
	font-size: 25px;
}

/* Handling inactive pages */
.navbar ul .about:hover {
	background-image: none;
}

.navbar ul li {
	background-image: linear-gradient(to right, var(--main-bg-color), var(--accent-bg-color),  var(--main-bg-color));
	background-position: bottom center;
	background-repeat: no-repeat;
	background-size: 0% 2px;
	transition: background-size .3s ease;
}

.navbar ul li:hover:not(.active) {
	background-size: 80% 2px;
}
/* no underline for dark mode switch */
.navbar ul .mode-switch {
	background-image: none;
	background-color: none;
}

/* Handling active page */

.navbar ul .active:not(.about) {
	background-image: linear-gradient(to right, var(--main-bg-color), var(--accent-bg-color),  var(--main-bg-color));
	background-position: bottom center;
	background-repeat: no-repeat;
	background-size: 80% 2px;
}

.navbar button {
	border: none;
	background-color: transparent;
	outline: none;
	color: var(--text-color);
}
#menu-icon {
  display: none;
  color: none;
  fill: none;
}

@media only screen and (max-width: 700px) {
  .navbar-list li:not(:first-child) {
    display: none;
  }
  .navbar-list li:first-child .active {
    background-image: none;
  }
  #menu-icon {
    z-index: 2000;
    float: right;
    display: block;
    position: absolute;
    right: 0px;
    top: 0px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 11px;
    padding-bottom: 10px;
  }
}
@media only screen and (max-width: 700px) {
  .navbar-list-responsive {
    position: relative;
    z-index: 1500;
  }
  .navbar-list-responsive li:not(:first-child) {
    z-index: 1505;
    float: none;
    display: block;
    text-align: center;
    background-image: none;
    padding-bottom: 10px;
  }
  .navbar-list-responsive li:first-child {
    font-size: 18px;
    position: relative;
    z-index: 1505;
    float: none;
    display: none;
    text-align: center;
    background-image: none;
  }
  .navbar-list-responsive li:nth-child(3) {
    margin-top: 12px;
  }
  .navbar-list-responsive .mode-switch {
    border-bottom: none;
    position: absolute;
    top: 4px;
    left: 0px;
  }
  .navbar ul .active:not(.about) {
    background-image: none;
  }
}

/* ------ */
/* footer */
/* ------ */

.footer-default {
  margin-bottom: 0px;
  margin-right: 0px;
  margin-left: 0px;
  margin-top: 0px;
  padding-top: 7px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 7px;
	float: left;
	width: 100%;
	position: -webkit-sticky;
  position: sticky;
  top: 100vh;
  background-color: var(--main-bg-color-trans);
  border-top: 1px solid var(--second-bg-color);
}

.footer-default ul {
	clear: left;
	float: left;
	margin: 0;
	padding: 0;
	position: relative;
	left: 50%;
	text-align: center;
}

.footer-default ul li {
	display: block;
	float: left;
	list-style: none;
	margin: 0;
	padding: 0;
	position: relative;
	right: 50%;
}

.footer-default ul li a {
	color: var(--text-color);
}
.footer-default ul li a .fab {
	color: var(--main-bg-color);
}

#footer-strava:hover {
	color: #fc4c02;
  transition: .3s;
}
#footer-github:hover {
	color: #6e5494;
  transition: .3s;
}

/* ------- */
/* content */
/* ------- */

.main-content {
	display: block;
	max-width: 900px;
	margin-left: auto;
	margin-right: auto;
  margin-top: 20px;
  padding-left: 7px;
  padding-right: 7px;
  text-align: justify;
  font-size: 15px;
  z-index: 1;
  position: relative;
  background-color: var(--main-bg-color);
}
@media only screen and (max-width: 700px) {
  .main-content {
  	text-align: left;
  }
}
.main-content-previews {
  margin: 0px;
  padding: 0px;
	margin-left: 130px;
  padding-left: 30px;
  position: relative;
  height: 100%;
  border-left: 10px solid var(--second-bg-color);
}
@media only screen and (max-width: 700px) {
  .main-content-previews {
    margin: 0px;
    padding-left: 0px;
    border-left: none;
    padding-left: none;
  }
}
.main-content img {
	display: block;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}
.main-content svg {
	display: block;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}
.main-content a {
	color: var(--link-color);
	font-weight: bold;
	text-decoration: none;
}
.main-content a:hover {
	color: var(--link-hover-color);
}
#img-headshot {
	height: 180px;
	width: auto;
	float: left;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 10px;
}

/* ------ */
/* Images */
/* ------ */

g .tick text {
  fill: var(--text-color);
  font-size: 15px;
}

g line {
  stroke: var(--text-color);
}

g .domain {
  stroke: var(--text-color);
}

text {
  fill: var(--text-color);
  font-weight: bold;
}

/* ------------------ */
/* Sidebar Navigation */
/* ------------------ */
.sidebar {
  top: 150px;
  width: 130px;
  height: 100%;
  margin-right: 30px;
  background-color: none;
  position: fixed;
  color: var(--text-color);
  box-sizing: border-box;
}
.barlink {
  font-size:20px;
  cursor: auto;
	border: none;
	background-color: transparent;
	outline: none;
  color: var(--text-color);
}

.barlink-item {
  font-size:15px;
	border: none;
	background-color: transparent;
	outline: none;
  color: var(--text-color);
  cursor: pointer;
}
.barlink-item:before {
  content: "\00a0 \00a0 ";
}
.barlink-item:hover{
  color: var(--link-hover-color);
}
.barlink:hover {
  cursor: pointer;
}
.bar-active:before {
  content: "| ";
}
@media only screen and (max-width: 700px) {
  .sidebar {
    top: 0px;
    width: 100%;
    position: relative;
  }
  .barlink-item:before {
    content: "";
  }
  .bar-active:before {
    content: "";
  }
  .bar-active {
    text-decoration: underline;
  }
}
.fade-anim{animation:opac 0.8s}
@keyframes opac{from{opacity:0} to{opacity:1}}
/* ------------- */
/* Post Previews */
/* ------------- */
.post-preview {
  text-align: left;
  padding-bottom: 2px;
  margin-bottom: 14px;
  border-left: 2px solid var(--accent-bg-color);
  padding-left: 5px;
  background-color: var(--second-bg-color);
}
.post-preview > .post-title {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 22px;
  font-weight: bold;
  display: inline;
  color: var(--text-color);
}
.post-preview > .link-github {
  font-family:'Roboto',sans-serif;
  font-size: 12px;
}
.post-preview > .link-blog {
  font-family:'Roboto',sans-serif;
  font-size: 12px;
}
.post-preview > .link-pdf {
  font-family:'Roboto',sans-serif;
  font-size: 12px;
}
.post-preview .post-author {
  font-size: 12px;
}
.post-preview .post-date {
  font-style: italic;
  font-size: 12px;
}
.post-preview p {
  margin-top: 1px;
  margin-bottom: 3px;
  margin-right: 10px;
  font-size: 15px;
}
.post-preview .post-context {
  font-size: 12px;
}

/* ----- */
/* Posts */
/* ----- */
.blog-info {
  border-bottom: 1px solid var(--accent-bg-color);
  margin-bottom: 20px;
  padding-bottom: 3px;
}
.blog-info h1 {
  margin-bottom: 0px;
}
.blog-info .blog-author:after {
  content: ",";
}
.blog-info .blog-date {
  font-style: italic;
}
.main-content-blog h2 {
  padding: 2px;
  border-bottom: 1px solid var(--accent-bg-color);
  margin: 2px;
}
.main-content-blog button {
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: var(--second-bg-color);
  border-radius: 3px;
  border-color: var(--accent-bg-color);
  color: var(--text-color);
  font-family:'Roboto',sans-serif;
  font-size: 15px;
  font-weight:400;
  text-decoration: none;
  text-align: center;
  transition: all 0.2s;
}

.main-content-blog button:hover {
  background-color: var(--text-color);
  color: var(--second-bg-color);
  cursor: pointer;
}
.proof {
  margin: 0px;
}

.proof > p {
  font-size: 14px;
  margin: 15px;
  padding: 5px;
  border: 2px solid var(--accent-bg-color);
  background-color: var(--second-bg-color);
}

.blog-image {
  image-rendering: crisp-edges;
  object-fit: contain;
  text-align: center;
  height: 100%;
  width: auto;
}

.blog-image > img {
  margin-top: 5px;
  margin-bottom: 5px;
  image-rendering: crisp-edges;
  object-fit: contain;
  height: auto;
  width: 100%;
}

code {
    background-color: var(--second-bg-color);
    border-radius: 3px;
    font-family: Consolas,Monaco,Lucida Console,Liberation Mono, monospace;
    padding: 0 3px;
}
.post-preview .tag-list {
  list-style-type: none;
  margin-top: 7px;
  margin-bottom: 5px;
  padding: 0;
}
.tag-list .tag {
  margin: 0;
  display: inline;
  font-family:'Railway',sans-serif;
  text-align: center;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 5px;
  padding-right: 5px;
  margin-right: 8px;
  border-radius: 16px;
  background-color: #949494;
  color: var(--main-bg-color);
}
.tag-list .tag:before {
  content: "#"
}

/* ----- */
/* Extra */
/* ----- */
span.hover-image a img {
    display: none;
    position: absolute;
    left: 0px;
    top: 30px;
}
span.hover-image a {
    display: inline-block;
    position: relative;
    cursor: pointer;
    z-index: 10;
}
span.hover-image a img{
    display: none;
}
span.hover-image a:hover img{
  width: 300px;
  z-index: 10;
  display: inherit;
}
/* CSS for menu icon */
/* https://css-tricks.com/line-animated-hamburger-menu/ */
.line {
  fill: none;
  stroke: var(--text-color);
  stroke-width: 6;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
.line1 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.line2 {
  stroke-dasharray: 60 60;
  stroke-width: 6;
}
.line3 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.opened .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}
.opened .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 6;
}
.opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}
