/* Default dark theme colors */
:root {
  --main-bg-color: #333333;
	--accent-bg-color: #e3e3e3;
	--text-color: #e3e3e3;
	--hover-color: #b61c20;
	--link-color: white;
	--link-hover-color: #00aae8;
}
/* ---- */
/* body */
/* ---- */
body {
	font-family: 'Lora', 'Times New Roman', serif;
	font-size: 20px;
	color: var(--text-color);
	background-color: var(--main-bg-color);
}

/* ------ */
/* navbar */
/* ------ */

.navbar-container {
	height: 50px;
	margin-top: 0px;
	margin-bottom: 40px;
}

.navbar {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: var(--accent-bg-color);
}

.navbar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	font-size: 15px;
}

.navbar ul li {
	float: right;
}

.navbar ul li a {
	display: block;
	color: var(--accent-bg-color);
	text-align: center;
	padding: 7px 20px;
	text-decoration: none;
}

#theme-toggle i:hover {
	color: gold;
	transition: 1s ease;
	cursor: pointer;
}

.navbar ul .about {
	float: left;
	background-image: linear-gradient(to right, var(--accent-bg-color),  var(--main-bg-color));
	background-position: bottom left;
	background-repeat: no-repeat;
	background-size: 0% 2px;
	transition: background-size .3s ease;
	font-size: 25px;
}

/* Handling inactive pages */
.navbar ul .about:hover:not(.active) {
	background-size: 100% 2px;
}

.navbar ul li {
	background-image: linear-gradient(to right, var(--main-bg-color), var(--accent-bg-color),  var(--main-bg-color));
	background-position: bottom center;
	background-repeat: no-repeat;
	background-size: 0% 2px;
	transition: background-size .3s ease;
}

.navbar ul li:hover:not(.active) {
	background-size: 80% 2px;
}
/* no underline for dark mode switch */
.navbar ul .mode-switch {
	background-image: none;
	background-color: none;
}

/* Handling active page */

.navbar ul .active {
	background-image: linear-gradient(to right, var(--main-bg-color), var(--accent-bg-color),  var(--main-bg-color));
	background-position: bottom center;
	background-repeat: no-repeat;
	background-size: 80% 2px;
}

.navbar button {
	border: none;
	background-color: transparent;
	outline: none;
	color: var(--text-color);
}

/* ------ */
/* footer */
/* ------ */

.footer-default {
	float: left;
	width: 100%;
	position: relative;
}

.footer-default ul {
	clear: left;
	float: left;
	margin: 0;
	padding: 0;
	position: relative;
	left: 50%;
	text-align: center;
}

.footer-default ul li {
	display: block;
	float: left;
	list-style: none;
	margin: 0;
	padding: 0;
	position: relative;
	right: 50%;
}

.footer-default ul li a {
	color: var(--text-color);
}
.footer-default ul li a .fab {
	color: var(--main-bg-color);
}

#footer-strava:hover {
	color: #fc4c02;
  transition: .3s;
}
#footer-github:hover {
	color: #6e5494;
  transition: .3s;
}

/* ------- */
/* content */
/* ------- */

.main-content {
	display: block;
	max-width: 800px;
	margin: 0px 20px;
	margin-left: auto;
	margin-right: auto;
  text-align: justify;
  font-size: 17px;
}

.main-content img {
	display: block;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.main-content svg {
	display: block;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.main-content p a {
	color: var(--link-color);
	font-weight: bold;
	text-decoration: none;
}
.main-content p a:hover {
	color: var(--link-hover-color);
}

#img-headshot {
	height: 180px;
	width: auto;
	float: left;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 10px;
}

/* ------ */
/* Images */
/* ------ */

g .tick text {
  fill: var(--text-color);
  font-size: 15px;
}

g line {
  stroke: var(--text-color);
}

g .domain {
  stroke: var(--text-color);
}

text {
  fill: var(--text-color);
  font-weight: bold;
}
