{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}
<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    {% if include.type == "grid" and teaser %}
      <div class="archive__item-teaser">
        <img src=
          {% if teaser contains "://" %}
            "{{ teaser }}"
          {% else %}
            "{{ teaser | prepend: "/images/" | prepend: base_path }}"
          {% endif %}
          alt="">
      </div>
    {% endif %}
    {% if post.authors %}
      <span><b>{{ title }} {{ post.date | default: "1900-01-01" | date: "(%Y)" }}</b></span>
      {% if post.coauthors %}
        <span> with {{ post.coauthors }}</span>
      {% endif %}
    {% else %}
      <span><a href="{{ base_path }}{{ post.url }}" rel="permalink">{{ title }}</a></span>
      <div><span><i>{{ post.date | default: "1900-01-01" | date: "%Y-%m-%d" }}</i></span><div>
    {% endif %}
    
    {% if post.venue %}
      <div><span><i>{{ post.venue }}</i></span></div>
    {% endif %}

    <p>
    {% if post.paperurl %}
      <span style="font-size: 0.9em;"><a href=" {{ post.paperurl }} " style="text-decoration: none;"><i class="far fa-solid fa-file-pdf"></i> Paper</a></span>
    {% endif %}
    {% if post.papercode %}
      <span style="font-size: 0.9em;"><a href=" {{ post.papercode }} " style="text-decoration: none;"><i class="fab fa-fw fa-github"></i> Code</a></span>
    {% endif %}
    </p>

  </article>
</div>
