.page.nopadding {
    padding-right: 0px;
    width: calc(100% + 0px);
}


.filter-buttons {
    margin: 20px 0;
    text-align: center;
}
.filter-buttons button, .saturation-switch button {
    padding: 10px 20px;
    margin: 0 10px;
    border: none;
    background-color: #ffffff;
    color: #858585;
    cursor: pointer;
    font-size: 1em;
}
.filter-buttons button:hover {
    color: $text-color;
}
.filter-buttons button:focus {
    color: $text-color;
    outline: none;
}

.portfolio {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    justify-content: center;
    margin-top: 20px;
}
.portfolio-section {
    margin: 40px 0;
    position: relative;
}
.section-title {
    text-align: left;
    font-size: 1.5em;
    font-weight: 300;
    margin: 0 0 10px 0;
}

.portfolio {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 15px;
    justify-content: center;
    margin-top: 20px;
}
.portfolio-item {
    position: relative;
    overflow: hidden;
}
.portfolio-item img {
    width: 100%;
    height: auto;
    display: block;
    filter: grayscale(90%);
    transition: filter 0.3s ease;
}
.portfolio-item a {
    color: white;
    text-decoration: none;
    display: block;
}
.portfolio-item .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3); /* Reduced shading */
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4em;
    font-weight: 200;
    color: white;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.9); /* Added text shadow */
}
.portfolio-item:hover img {
    filter: none;
}

.lightbox-portfolio {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 15px;
    justify-content: center;
    margin-top: 20px;
}
.lightbox-portfolio .portfolio-item {
    position: relative;
    overflow: hidden;
    border-radius: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.lightbox-portfolio .portfolio-item .overlay {
    display: none;
}
.lightbox-portfolio .portfolio-item img {
    width: 100%;
    height: auto;
    display: block;
    filter: saturate(30%);
    transition: filter 0.3s ease, opacity 0.3s ease;
    cursor: pointer;
}

.lightbox-portfolio .portfolio-item:hover img {
    filter: none;
}

@media (max-width: 650px) {
    .portfolio {
        grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
        gap: 10px;
    }
}

@media (pointer:coarse) {
    .lightbox-portfolio .portfolio-item img {
        filter: saturate(100%);
    }
}
/* Modal styles */
.custom-modal {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(25, 25, 25, 1);
    box-sizing: border-box;
    padding: 20px 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}
.custom-modal-content {
    width: 100%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 0px 0px;
}
.custom-modal-content img {
    max-width: 1000px;
    max-height: 100%;
    width: 100%;
    object-fit: contain;
    padding: 0px 0px;
    margin: 0px 0px;
    display: block;
}
.custom-modal .prev, .custom-modal .next, .custom-modal .close {
    position: absolute;
    color: #fff;
    font-size: 40px;
    cursor: pointer;
    user-select: none;
}
.custom-modal .prev, .custom-modal .next {
    top: calc(50% - 25px);
    display: inline;
    padding-top: 20px;
    padding-bottom: 20px;
}

.custom-modal .prev {
    left: 10px;
    padding-left: 0px;
    padding-right: 20px;
}
.custom-modal .next {
    right: 10px;
    padding-left: 20px;
    padding-right: 0px;
}
.custom-modal .close {
    z-index: 10005;
    right: 0px;
    top: -20px;
    padding: 10px;
}

.change-button {
    background-color: rgba(25, 25, 25, 0.5);
    padding: 5px 5px;
}

.custom-modal-caption {
    z-index: 10000;
    position: absolute;
    top: 0px;
    color: #fff;
    text-align: left; /* Left align the text */
    width: 100%; /* Ensure it takes the full width of the modal */
    max-width: 100%; /* Ensure it aligns with the image width */
    padding: 10px 10px;
    box-sizing: border-box; /* Include padding in the element's total width */
    background-color: rgba(25, 25, 25, 0.5);
}

.modal-title {
    font-size: 1.2em; /* Adjust the font size for the title */
}

.modal-description {
    font-size: 0.7em; /* Adjust the font size for the description */
    margin-top: 5px; /* Add some spacing between the title and description */
}



/* About Page */
.about-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    overflow: hidden;
    margin: 0px;
    text-align: left;
}

.profile-pic {
    max-width: 200px;
    padding: 2px;
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.about-text {
    padding-left: 20px;
    padding-right: 20px;
    flex: 1;
}

h1 {
    margin-bottom: 10px;
    font-size: 24px;
}

p {
    margin-bottom: 10px;
    line-height: 1.6;
}

@media screen and (max-width: 768px) {
    .about-container {
        flex-direction: column;
        text-align: left;
        padding-left: 5px;
        padding-right: 5px;
    }

    .profile-pic {
        width: 100%;
        height: auto;
        margin: 0 auto;
    }

    .about-text {
        padding: 0px;
        padding-top: 10px;
    }
}
