.page.nopadding {
    padding-right: 0px;
    width: calc(100% + 0px);
}


.filter-buttons {
    margin: 20px 0;
    text-align: center;
}
.filter-buttons button, .saturation-switch button {
    padding: 10px 20px;
    margin: 0 10px;
    border: none;
    background-color: #ffffff;
    color: #858585;
    cursor: pointer;
    font-size: 1em;
}
.filter-buttons button:hover {
    color: $text-color;
}
.filter-buttons button:focus {
    color: $text-color;
    outline: none;
}

.portfolio {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    justify-content: center;
    margin-top: 20px;
}
.portfolio-section {
    margin: 40px 0;
    position: relative;
}
.section-title {
    text-align: left;
    font-size: 1.5em;
    color: gray;
    margin: 0 0 10px 0;
}
.section-title::after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background: gray;
    margin-top: 5px;
}
.portfolio {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 15px;
    justify-content: center;
    margin-top: 20px;
}
.portfolio-item {
    position: relative;
    overflow: hidden;
}
.portfolio-item img {
    width: 100%;
    height: auto;
    display: block;
    filter: grayscale(100%);
    transition: filter 0.3s ease;
}
.portfolio-item a {
    color: white;
    text-decoration: none;
    display: block;
}
.portfolio-item .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3); /* Reduced shading */
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    color: white;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7); /* Added text shadow */
}
.portfolio-item:hover img {
    filter: none;
}

.lightbox-portfolio {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 15px;
    justify-content: center;
    margin-top: 20px;
}
.lightbox-portfolio .portfolio-item {
    position: relative;
    overflow: hidden;
    border-radius: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.lightbox-portfolio .portfolio-item .overlay {
    display: none;
}
.lightbox-portfolio .portfolio-item img {
    width: 100%;
    height: auto;
    display: block;
    filter: saturate(30%);
    transition: filter 0.3s ease, opacity 0.3s ease;
    cursor: pointer;
}

.lightbox-portfolio .portfolio-item:hover img {
    filter: none;
}

@media (max-width: 375px) {
    .portfolio {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        gap: 10px;
    }
}
/* Modal styles */
.custom-modal {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.93);
    box-sizing: border-box;
    padding: 80px 40px;
}
.custom-modal-content {
    width: 100%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 20px 20px;
}
.custom-modal-content img {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    object-fit: contain;
    padding: 0px 0px;
    margin: 0px 0px;
    display: block;
}
.custom-modal .prev, .custom-modal .next, .custom-modal .close {
    position: absolute;
    top: 20px;
    right: 30px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
    user-select: none;
}
.custom-modal .prev, .custom-modal .next {
    top: 80%;
    transform: translateY(-50%);
}

.custom-modal .prev {
    left: 10px;
}
.custom-modal .next {
    right: 10px;
}
.custom-modal .close {
    right: 50px; /* Align close button above the image */
}

.custom-modal-caption {
    color: #fff;
    text-align: left; /* Left align the text */
    width: 100%; /* Ensure it takes the full width of the modal */
    max-width: 100%; /* Ensure it aligns with the image width */
    padding: 10px 10px;
    box-sizing: border-box; /* Include padding in the element's total width */
}

.modal-title {
    font-size: 1.2em; /* Adjust the font size for the title */
}

.modal-description {
    font-size: 0.7em; /* Adjust the font size for the description */
    margin-top: 5px; /* Add some spacing between the title and description */
}
